<div id="loadingHTML">

    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div id="homeContent" class="cabecera">
    <div id="firstC">
        <div class="card">
            <h3 id="welcome" class="loadingText">.</h3>
            <div >
                <article>
                    <div id="inputnote">
                        <b id="date">4 de abril</b>
                        <textarea oninput="resize()" onblur="guardarNota()" rows="1" name="nota" id="note" placeholder="Nueva entrada..."></textarea>
                    </div>
                </article>
            </div>
        </div>
        <div id="notas" class="card"></div>
    </div>
    <div id="secondC">
        
        <div class="card">
            <h3>Recomendado</h3>
                <article class="phrase">"Aprendiendo a cuidarme, me descubro más fuerte". - Autor desconocido.</article>
                <article class="phrase">"No te rindas, cada pequeño paso te acerca a tu meta". - Anónimo.</article>
                <article class="phrase">"El fracaso es una oportunidad para comenzar de nuevo con más experiencia". - Henry Ford.</article>
                <article class="phrase">"La felicidad es una elección, elige ser feliz hoy". - Anónimo.</article>
                <article class="phrase">"Aprender a amarse a uno mismo es el primer paso para encontrar la paz interior". - Anónimo.</article>
                <article class="phrase">"No permitas que tus miedos te limiten, desafíalos y sigue adelante". - Autor desconocido.</article>
                <article class="phrase">"Cada día es una nueva oportunidad para comenzar de nuevo". - Anónimo.</article>
                <article class="phrase">"La perseverancia y el esfuerzo son la clave para alcanzar el éxito". - Anónimo.</article>
                <article class="phrase">"Ama la persona que eres hoy y trabaja para ser la mejor versión de ti mismo mañana". - Anónimo.</article>
                <article class="phrase">"La mente es un jardín, cultiva pensamientos positivos y florecerás". - Buda.</article>
        </div>
    </div>
</div>
