<div id="loadingHTML">

    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div id="homeContent" class="cabecera">
    <div id="firstC">
        <div class="card">
            <h3 id="welcome" class="loadingText titleWithIcon">.</h3>
            <div id="suggestions">
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Encuesta</p>
                </div>
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Consejos</p>
                </div>
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Diario</p>
                </div>
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Citas</p>
                </div>
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Videos</p>
                </div>
                <div class="suggestion">
                    <div class="suggestionIcon">
                    </div>
                    <p>Respiración</p>
                </div>
            </div>
        </div>
        <div id="notas" class="card">
            <h3>Notas</h3>
            <div id="inputnote">
                <b id="date">4 de abril</b>
                <textarea oninput="resize()" onblur="guardarNota()" rows="1" name="nota" id="note" placeholder="Nueva entrada..."></textarea>
            </div>
        </div>
    </div>
    <div id="secondC">
        <div class="card">
            <div class="titleWithIcon">            
                <svg class="titleIcon blue" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 72 72" width="64px" height="64px"><path d="M16 28c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6h-2c-3.314 0-6-2.686-6-6V34c0-3.314 2.686-6 6-6H16zM63 36.488c0 2.188-.923 3.767-1.861 4.946.352 1.231.555 2.853-.222 4.974-.691 1.885-1.845 3.115-2.756 3.772-.101 1.152-.544 2.945-1.91 4.524C54.884 56.283 52.907 57 48.186 57h-14.49c-4.861 0-5.263-2.164-7.696-3.147V29.569c.302-.286.617-.607.959-1.015 1.003-1.196 1.233-3.369 3.057-5.976.844-1.206 3.001-4.687 2.308-7.527C31.292 10.823 34.304 8 37.303 8c4.665 0 6.604 4.223 6.604 9.698 0 2.174-.092 4.599-.398 6.255h10.375c2.628 0 4.619 1.05 5.993 2.904 1.146 1.546 1.271 3.434 1.235 4.596C62.143 32.386 63 34.219 63 36.488z"/></ svg>
                <h3>Recomendado</h3>
            </div>
                <article class="phrase">"Aprendiendo a cuidarme, me descubro más fuerte". - Autor desconocido.</article>
                <article class="phrase">"No te rindas, cada pequeño paso te acerca a tu meta". - Anónimo.</article>
                <article class="phrase">"El fracaso es una oportunidad para comenzar de nuevo con más experiencia". - Henry Ford.</article>
                <article class="phrase">"La felicidad es una elección, elige ser feliz hoy". - Anónimo.</article>
                <article class="phrase">"Aprender a amarse a uno mismo es el primer paso para encontrar la paz interior". - Anónimo.</article>
                <article class="phrase">"No permitas que tus miedos te limiten, desafíalos y sigue adelante". - Autor desconocido.</article>
                <article class="phrase">"Cada día es una nueva oportunidad para comenzar de nuevo". - Anónimo.</article>
                <article class="phrase">"La perseverancia y el esfuerzo son la clave para alcanzar el éxito". - Anónimo.</article>
                <article class="phrase">"Ama la persona que eres hoy y trabaja para ser la mejor versión de ti mismo mañana". - Anónimo.</article>
                <article class="phrase">"La mente es un jardín, cultiva pensamientos positivos y florecerás". - Buda.</article>
        </div>
    </div>
</div>
