<nav>
    <div id="mainLogo" href="https://www.shine-again.me/">
        <h1>Shine Again</h1>
    </div>
    <div id="headerbtns">
        <button class="headerButtons" id="secondary" onclick="toSignup()">Regístrate</button>
        <button class="headerButtons" id="main" onclick="toSignin()">Iniciar Sesión</button>
    </div>
</nav>
<section id="app" class="landing">
    <div id="mainLanding">
        <div id="firstL">
            <h2>Te ayudaré a valorar tu brillo</h2>
            <p>Shine Again busca ayudarte a potenciar tu camino al desarrollo personal, ofreciéndote recursos para que sea más fácil ser la mejor versión de tí</p>
            <div id="mainButtons">
                <button id="main" onclick="toSignup()">Comenzar</button>
                <button id="secondary" onclick="window.location.href = 'mailto:shineagainco@gmail.com'">Contáctanos</button>
            </div>
        </div>
        <div id="containerPhoto">
            <img id="landingPhoto" src="./src/landing/students.png" alt="">
        </div>
    </div>

</section>